
body
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1c1c1c;
    padding: 60px 5px 0px 5px;
    width: 400px;
    max-width: 400px;
}

@media (max-width: 700px)
{
  #calculator
  {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1c1c1c;
    padding: 60px 5px 0px 5px;
    width: 100%;
    height: 100% !important;
    /* max-width: 300px; */
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px !important;
  }

  #buttons
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 8px;
    position: absolute;
    bottom: 20px !important;
    width: 100%;
    padding-left: 40px !important;
}

#buttons button{
    background-color: #505050;
    color: white;
    font-size: 26px !important;
    text-align: center;
    width: 70% !important;
    height: 60px !important;
    border-radius: 40px;
    border: none;
}
}

#display
{
    background-color: #1c1c1c;
    color: white;
    text-align: right;
    font-size: 90px;
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

#buttons
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 8px;
}

#buttons button{
    background-color: #505050;
    color: white;
    font-size: 36px;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: none;
}

#buttons button:hover
{
    opacity: 70%;
}

#buttons button:active
{
    opacity: 90%;
}